.image-container {
    position: relative;
    /* Add any additional styles for the container if needed */
  }
  
  /* Icon style */
  .icon {
    position: absolute;
    top: 53px;
    left: 261px;
    background-color: white;
    border-radius: 50%;
    height: 46px;
    width: 46px;
    transform: translate(-50%, -50%);
    /* Add any additional styles for the icon if needed */
  }
